body {
    background-attachment: fixed;
    background-image: url('../img/bg.jpg');
    background-repeat: repeat;
}

#profile-pic {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 10px 10px 151px 53px rgba(0,0,0,0.75);
    overflow: hidden;
    filter: blur(0);
    transition: .3s ease-in-out;
}

#profile-pic-section {
    height: 30vh;
}

#profile-pic:hover {
    filter: blur(3px);
}

#hobbies-section {
    background-color: white;
    height: 70vh;
}

#hobbies-section p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}