body {
    background-attachment: fixed;
    background-image: url('../img/bg.jpg');
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* header */
#profile-pic {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 10px 10px 151px 53px rgba(0,0,0,0.75);
    overflow: hidden;

}

#profile-pic-section {
    height: 30vh;
}

#profile-pic:hover {
    filter: blur(3px);
}

#profile-pic:focus {
    filter: blur(3px);
}

main {
    background-image: url('../img/main.jpg');
    background-attachment: fixed;     
    height: 70vh;
    bottom: 0;
}

/* about */
#about-section {
    height: 20vh;
    box-shadow: 0px -8px 9px 1px rgba(0,0,0,0.75);
    overflow: hidden;
}

/* hobbies */
#hobbies-section {
    height: 20vh;
    overflow: hidden;
}

/* contact */
#contact-section {
    height: 15vh;
    overflow: hidden;
}

/* section */
#rocket-section {
    height: 15vh;
}

#animated-rocket{
    height: 13vh;
    transition: .7s ease-in-out;
    cursor: pointer;
}

/* About and hobbies same style */
.about-and-hobbies-and-contact-articles {
    border-radius: 2em 6em 2em 6em / 4em 2em 4em 2em;
    box-shadow: 0px 0px 8px 6px rgba(9, 8, 37, 0.75);
    background-image: url('../img/bg.jpg');
    opacity: 0.9;
}

.about-and-hobbies-and-contact-text {
    color: rgb(66, 64, 64);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: small;
}

/* contact-me-icons */
.contact-icons {
    width: 3em;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.contact-icons:hover {
    filter: grayscale(80%);
}

/* qr code at modal */
#qr-code {
    width: 4em;
    cursor: pointer;
    width: 150px;
    height: 150px;
}